@model IEnumerable<MiliNeu.Models.Collection>

@{
    ViewData["Title"] = "Index";
}

<p class="page-title">Manage Collections</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table style="width:80vw;max-width:1600px;margin:0 auto" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th>
                @("Options")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.Count)
                </td>

                <td>
                    <a asp-controller="Collections" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-controller="Collections" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a asp-controller="Collections" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
