@model MiliNeu.Models.Cart

@{
    ViewData["Title"] = "Details";
}

<div class="page-header cart-background">
        <h1 class="">Your Basket</h1>
    </div>

    @* new cart html--------------------- *@

<div class="cart-wrapper">

    
            @if (Model.Items.Count == 0)
            {
        <h2>@* Cart items will be visible here *@Your cart is empty &#x1F614</h2>
    }
            else
            {
        <div class="project">
            <div class="shop">
                <div class="content">
                    <div class="table">
                        <p class="table-item table-item-product">Product</p>
                        <p class="table-item table-item-size">Size</p>
                        <p class="table-item table-item-quantity">Quantity</p>
                        <p class="table-item table-item-edit">Remove</p>

                    </div>


                </div>
                @foreach (var cartitem in Model.Items)
                {
                    <div class="box">
                        <a href="/products/details/@cartitem.Product.Id">
                            <img href="/products/details/@cartitem.Product.Id" src="/Resources/Items/@cartitem.Product.Path" alt="">

                        </a>
                        
                        <div class="content">
                            <div class="prof-name-price">
                                <h3>@cartitem.Product.Name</h3>
                                <h4>Rs.@cartitem.Product.Price</h4>

                            </div>
                            <p>@cartitem.SelectedSize</p>
                            <p class="unit"><input type="number" value="@cartitem.Quantity"></p>

                            <a class="btn-area" asp-action="Delete" asp-controller="Carts" asp-route-productId="@cartitem.Product.Id" asp-route-cartId="@Model.Id">
                                <i class="fas fa-trash"></i>

                            </a>




                        </div>
                    </div>
                    <hr />
                }


            </div>
            <div class="right-bar">
                <p><span>Subtotal</span><span>$80</span></p>
                <hr>
                <p><span>Tax (5%)</span><span>$1</span></p>
                <hr>
                <p><span>Shipping</span><span>$15</span></p>
                <hr>
                <p><span>Total</span><span>$96</span></p>

                <a asp-action="Checkout" asp-controller="Orders" asp-route-cartId="@Model.Id"  >Checkout</a>
            </div>
        </div>
            }
           
</div>


























    @* Old cart html------------------------ *@
   @*  <div class="cart-page">

        <table>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Size
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Subtotal
                </th>



                @foreach (var cartitem in Model.Items)
                {

                    var product = cartitem.Product;
                    var SubT = cartitem.Quantity * product.Price;

                <tr>


                    <td>
                        <div class="cart-info">
                            <img src="\Resources\Items\@product.Path" alt="">
                            <div>
                                <p>@product.Name</p>
                                <small>$@product.Price</small>
                                <br>
                                <a href="#">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td>
                            @cartitem.SelectedSize
                    </td>
                    <td>
                        <input type="number" value="@cartitem.Quantity">
                    </td>
                    <td>

                        $@SubT
                    </td>

                </tr>
                
                }

        </table>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> | *@
       @* commented----------- *@
    @* <div class="total-price">
            <table>

                <tr>
                    <td>
                        Subtotal
                    </td>
                    <td>
                        $750
                    </td>
                </tr>
                <tr>
                    <td>
                        Tax
                    </td>
                    <td>
                        $50
                    </td>
                </tr>
                <tr>
                    <td>
                        Total
                    </td>
                    <td>
                        $800
                    </td>
                </tr>

            </table>
        </div> *@
        @* -----commented *@
   @*  </div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
 *@
@* 

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplictaionUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplictaionUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <h1>Shopping Cart</h1>

    <table>
        <tr>
            <th> </th>
            <th>Product ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        @foreach (var cartItem in Model.CartItems)
        {
            var product = cartItem.Product;
            <tr>
                <td>
                    <a href="/products/Details/@Html.DisplayFor(modelItem => product.Id)" loading="lazy">
                        <img class="cart-item" src="\Resources\Items\@product.Path">
                    </a>
                </td>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@cartItem.SelectedSize</td>
                <td>@cartItem.Quantity</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                
                <td>
                    
                </td>
            </tr>
        }
    </table>
</div> *@


