@model MiliNeu.Models.Cart

@{
    ViewData["Title"] = "Details";
}

    <div class="basket-header">
        <h1 class="">Your Basket</h1>
    </div>

    <div class="cart-page">

        <table>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Size
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Subtotal
                </th>



                @foreach (var cartitem in Model.CartItems)
                {

                    var product = cartitem.Product;
                    var SubT = cartitem.Quantity * product.Price;

                <tr>


                    <td>
                        <div class="cart-info">
                            <img src="\Resources\Items\@product.Path" alt="">
                            <div>
                                <p>@product.Name</p>
                                <small>$@product.Price</small>
                                <br>
                                <a href="#">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td>
                            @cartitem.SelectedSize
                    </td>
                    <td>
                        <input type="number" value="@cartitem.Quantity">
                    </td>
                    <td>

                        $@SubT
                    </td>

                </tr>
                
                }

        </table>

        @* <div class="total-price">
            <table>

                <tr>
                    <td>
                        Subtotal
                    </td>
                    <td>
                        $750
                    </td>
                </tr>
                <tr>
                    <td>
                        Tax
                    </td>
                    <td>
                        $50
                    </td>
                </tr>
                <tr>
                    <td>
                        Total
                    </td>
                    <td>
                        $800
                    </td>
                </tr>

            </table>
        </div> *@

    </div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>

@* 

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplictaionUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplictaionUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <h1>Shopping Cart</h1>

    <table>
        <tr>
            <th> </th>
            <th>Product ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        @foreach (var cartItem in Model.CartItems)
        {
            var product = cartItem.Product;
            <tr>
                <td>
                    <a href="/products/Details/@Html.DisplayFor(modelItem => product.Id)" loading="lazy">
                        <img class="cart-item" src="\Resources\Items\@product.Path">
                    </a>
                </td>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@cartItem.SelectedSize</td>
                <td>@cartItem.Quantity</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                
                <td>
                    
                </td>
            </tr>
        }
    </table>
</div> *@


