@model IEnumerable<MiliNeu.Models.ProductVariant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.DiscountedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isMain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDiscontinued)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Color.HexCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Category)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Product.DiscountedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isMain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDiscontinued)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
